{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Add income {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Add income</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-11 pr-md-1">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input type="text" name="name" value="{{category.name}}" class="form-control" placeholder="name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 pr-md-1">
                                <div class="form-group">
                                    <label>Percentage</label>
                                    <input type="number" name="percentage" value="{{category.percentage}}" class="form-control" placeholder="%">
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <button type="submit" class="btn btn-fill btn-primary">Update Category</button>
                        </div>
                    </form>


                </div>

            </div>
        </div>

    </div>
</div>


{% endblock %}